* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*GRADIENT BACKGROUND*/
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#F94892, #AB46D2, #3AB0FF);
    background-size: 300% 300%;
    animation: gradient 12s ease-in-out infinite;
}
@keyframes gradient {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

/*"WELCOME USER" TEXT DESIGN*/
.welcome-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-user-username {
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    color: #eee;
    text-shadow: 0px 0px 6px #000;
}

/*Tasks Main Page*/
.tasks-container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/*"CREATE TASK" FORM*/
.tasks-create-task-form {
    width: 60%;
    height: 6.5%;
    margin-left: 3%;
}

.tasks-form-task-text {
    font-size: 20px;
    width: 79%;
    height: 3em;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tasks-create-button {
    font-size: 20px;
    width: 15%;
    height: 3em;
    color: #fff;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -1%;
    cursor: pointer;
    background-color: #F94892;
    transition: .5s ease-in-out;
}

.tasks-create-button:hover {
    box-shadow: 0px 0px 6px #ff42b6;
}



/*TASKS FILTER*/
.tasks-filter-task-container {
    width: 30%;
    height: 6.5%;
    position: relative;
    overflow: hidden;
}

.tasks-filter-task-container::after {
    content: '\25BC';
    width: 20%;
    height: 100%;
    color: #eee;
    font-size: 20px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F94892;
}

.tasks-filter {
    width: 98%;
    height: 100%;
    font-size: 20px;
    appearance: none;
    outline: none;
    border: none;
}



/*ALL TASKS CONTAINER*/
.all-tasks-container {
    width: 100%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-container {
    font-family: sans-serif;
    font-size: 18px;
    width: 90%;
    min-height: 7vh;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px -3px #000;
    background-color: rgb(255, 246, 239);
}

/*COMPLETED TASKS*/
.completed {
    background-color: rgba(0, 255, 0, 0.541);
    color: #fff;
    text-shadow: 0px 0px 3px #333;
    box-shadow: 0 0 5px 3px rgb(23, 197, 0);
}

/*TASK DELETE BUTTON*/
.task-delete-button-container {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc3f3f;
}

.task-delete-button-container button {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border: none;
    color: #eee;
    text-shadow: 0px 0px 3px #000;
    background-color: #fc3f3f;
    cursor: pointer;
    transition: .3s ease-in;
}

.task-delete-button-container button:hover {
    background-color: #ff3333;
}

/*TASK TEXT*/
.task-text-container {
    width: 70%;
    height: auto;
    margin-left: 9px;
}

/*TASK "MARK AS COMPLETED" BUTTON*/
.task-complete-button-container, .task-uncomplete-button-container {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 168, 0);
}

.task-complete-button-container button, .task-uncomplete-button-container button {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border: none;
    color: #eee;
    text-shadow: 0px 0px 3px #000;
    background-color: rgb(0, 168, 0);
    cursor: pointer;
    transition: .3s ease-in;
}

.task-complete-button-container button:hover {
    background-color: rgba(37, 182, 1, 0.993);
}

/*UNCOMPLETE TASK BUTTON*/
.task-uncomplete-button-container, .task-uncomplete-button-container button {
    background-color: rgba(231, 0, 0, 0.993);
}

.task-uncomplete-button-container button:hover {
    background-color: #ff0000;
}

/*LOGIN FORM*/
.login-form {
    width: 20%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-form label {
    text-shadow: 0px 0px 1px #000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #eee;
    margin: 1px;
}

.login-form-input {
    width: 70%;
    border: none;
    border-radius: 3px;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-submit-button {
    width: 30%;
    height: 15%;
    color: #eee;
    text-shadow: 0px 0px 1px #333;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(100, 100, 100, 0.6);
    background: rgba(200, 200, 200, 0.2);
    cursor: pointer;
}