{% extends 'ToDoApp/wrapper.html' %}

{% block tasks %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="tasks-user-username">{{user.username}}</h1>
            <div class="tasks-container">
                <form method="POST" class="tasks-create-task-form">
                    {% csrf_token %}
                    <input type="text" name="task_text" class="tasks-form-task-text">
                    <button class="tasks-create-button"><i class="fa-solid fa-plus"></i></button>
                </form>
                <div class="tasks-filter-task-container">
                    <select class="tasks-filter">
                        <option value="All">All</option>
                        <option value="Completed">Completed</option>
                        <option value="Uncompleted">Uncompleted</option>
                    </select>
                </div>
                <div class="all-tasks-container" id="all-tasks-container">
                    {% for task in tasks %}
                        {% if task.completion is True %}
                        <div class="task-container completed">
                            <div class="task-delete-button-container">
                                <button value="{{task.id}}" onclick="deleteTask(this.value)"><i class="fa-solid fa-trash"></i></button>
                            </div>
                            <div class="task-text-container">
                                <h3>{{task.to_do}}</h3>
                            </div>
                            <div class="task-uncomplete-button-container">
                                <button value="{{task.id}}"><i class="fa-solid fa-square-xmark"></i></button>
                            </div>
                        </div>
                        {% else %}
                        <div class="task-container">
                            <div class="task-delete-button-container">
                                <button value="{{task.id}}" onclick="deleteTask(this.value)"><i class="fa-solid fa-trash"></i></button>
                            </div>
                            <div class="task-text-container">
                                <h3>{{task.to_do}}</h3>
                            </div>
                            <div class="task-complete-button-container">
                                <button value="{{task.id}}"><i class="fa-solid fa-square-check"></i></button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% include 'includes/loginForm.html' %}
        {% endif %}
    </div>
{% endblock %}