{% extends 'ToDoApp/wrapper.html' %}

{% block tasks %}
    <div class="container">
        {% if user.is_authenticated %}

        {% else %}
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                <label for="username">USERNAME</label>
                <input type="text" name="username" class="login-form-input username-input">

                <label for="password">PASSWORD</label>
                <input type="password" name="password" class="login-form-input password-input">

                <input type="submit" name="submit" class="login-submit-button">
            </form>
        {% endif %}
    </div>
{% endblock %}